<nav class="navbar navbar-expand-lg fixed-top navbar-light cls-nav-menu">


    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" style="color: #fff;"></i>
    </button>

        <div class="cls-div-menu-icon">
            <div class="row justify-content-end">
                <div class="col-1 header_menuOption">
                    <a class="header_menuOption cls-link-icon" href="#">
                        <i class="fa fa-globe " aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-1 header_menuOption">
                    <a class="cls-link-icon" href="#">
                        <i class="fa fa-comments " aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-1 header_menuOption">
                    <a class="cls-link-icon" href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-1 header_menuOption">
                    <a class="cls-link-icon" href="javascript:void(0)" (click)="buscar()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item  header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu header_menuOption" [routerLink]="['/conocenos']">CONOCENOS </a>
                </li>
                <li class="nav-item  header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu" [routerLink]="['/customer']">CLIENTES</a>
                </li>               
                <li class="nav-item header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu" [routerLink]="['/sostenibilidad']">SOSTENIBILIDAD</a>
                </li>
                <li class="nav-item  header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu" [routerLink]="['/spotify']">SPOTIFY</a>
                </li>
                <li class="nav-item header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu" href="#">PRODUCTOS Y SERVICIOS</a>
                </li>
                <!-- <li class="nav-item active header_menuOption">
          <a class="nav-link cls-text-menu" href="#">ACCIONISTAS E INVERSIONES</a>
        </li> -->
                <li class="nav-item header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu" href="#">SALA DE PRENSA</a>
                </li>
                <!-- <li class="nav-item header_menuOption" routerLinkActive="active">
                    <a class="nav-link cls-text-menu" href="#">EMPLEO</a>
                </li> -->
                <li class="nav-item active header_menuOption">
                    <a class="nav-link" href="javascript:void(0)" (click)="buscar()">
                        <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>

    </div>




</nav>